[distutils]
index-servers =
   eea
   pypi

[eea]
repository: EGGREPO_URL
username: EGGREPO_USERNAME
password: EGGREPO_PASSWORD

[pypi]
repository: PYPI_URL
username: PYPI_USERNAME
password: PYPI_PASSWORD

